Repository Naruno/Naruno, pull requests merged in 2021-04, with the labels that each got.

#20 added functions to load and dump Account class with json
  ledger/ledger_main.py
Labels: enhancement

#22 added processing of unexpected values
  lib/mixlib.py
Labels: enhancement

#25 Major Updates for Consensus
  README.md
  blockchain/block/account.py
  blockchain/block/block_main.py
  blockchain/block/transaction.py
  cli.py
  config.py
  func/merkle_root.py
  func/node_connection.py
  func/send.py
  gui.py
  ledger/ledger_main.py
  lib/config_system.py
  lib/mixlib.py
  lib/settings_system.py
  node/myownp2pn.py
  node/node.py
  node/unl.py
  wallet/wallet.py
Labels: enhancement

#27 Some Fixes and Aded the Github Actions
  .github/workflows/main.yml
  blockchain/block/block_main.py
  lib/settings_system.py
  node/myownp2pn.py
  test/test_config.py
  test/test_node.py
  test/test_settings.py
  test/test_wallet.py
Labels: Fixing, enhancement

#29 New GUI
  .github/workflows/main.yml
  .gitignore
  gui.py
  gui/icons/cell-molecule_50x50.png
  gui/icons/computer-internet-network_68x50.png
  gui/icons/icon.png
  gui/icons/icon_50x50.png
  gui/icons/ledger.png
  gui/icons/ledger_38x50.png
  gui/icons/money_67x50.png
  gui/icons/navigate_50x50.png
  gui/icons/wallet_60x50.png
  gui_lib/fonts/ECZAR_LICENCE
  gui_lib/fonts/Eczar-Regular.ttf
  gui_lib/fonts/Eczar-SemiBold.ttf
  gui_lib/fonts/ROBOTOCONDENSED_LICENSE
  gui_lib/fonts/Roboto-Medium.ttf
  gui_lib/fonts/RobotoCondensed-Bold.ttf
  gui_lib/fonts/RobotoCondensed-Light.ttf
  gui_lib/fonts/RobotoCondensed-Regular.ttf
  gui_lib/images/logo.ico
  gui_lib/libs/baseclass/node_screen.py
  gui_lib/libs/baseclass/operations_screen.py
  gui_lib/libs/baseclass/root_screen.py
  gui_lib/libs/baseclass/settings_screen.py
  gui_lib/libs/baseclass/tabnavigation.py
  gui_lib/libs/baseclass/wallet_screen.py
  gui_lib/libs/baseclass/welcome_screen.py
  gui_lib/libs/kv/node_screen.kv
  gui_lib/libs/kv/operations_screen.kv
  gui_lib/libs/kv/root_screen.kv
  gui_lib/libs/kv/settings_screen.kv
  gui_lib/libs/kv/tabnavigation.kv
  gui_lib/libs/kv/wallet_screen.kv
  gui_lib/libs/kv/welcome_screen.kv
  requirements.txt
Labels: enhancement

#30 Update cli.py
  cli.py
Labels: Fixing

#32 Added the Apps Threader
  blockchain/block/block_main.py
Labels: Fixing

#33 Path 9
  cli.py
Labels: Fixing

#34 Fix pack for consensus
  blockchain/block/block_main.py
  func/send.py
  node/myownp2pn.py
  node/unl.py
Labels: Fixing, enhancement
