Repository Naruno/Naruno, pull requests merged in 2021-08, with the labels that each got.

#210 Fixed api and gui setups
  docs/release-notes/release-notes-0.8.3-alpha.md
  setup.py
  setups/api/setup.py
  setups/gui/setup.py
Labels: Fix, Path, CLI Parameters, API, CLI Menu, GUI

#211 Fixed the MANIFEST.in images folder
  MANIFEST.in
  docs/release-notes/release-notes-0.8.4-alpha.md
  setup.py
  setups/api/setup.py
  setups/gui/setup.py
Labels: bug, Fix, Path, CLI Parameters, API, CLI Menu, GUI

#213 Prepare for production server.
  requirements/api.txt
  src/api.py
Labels: enhancement, Performance Optimization, API

#214 release note and some edits
  docs/release-notes/release-notes-0.9.0-alpha.md
  setup.py
  setups/api/setup.py
  setups/gui/setup.py
Labels: documentation, minor
