Repository Naruno/Naruno, pull requests merged in 2021-06, with the labels that each got.

#81 Added a Function For Prevent Empt Block Saving
  src/blockchain/block/save_block_to_blockchain_db.py
Labels: Performance Optimization, enhancement

#131 Some fixes and changes, and many comments added
  src/accounts/account.py
  src/blockchain/block/block_main.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/cli.py
  src/consensus/consensus_first_round.py
  src/consensus/consensus_main.py
  src/consensus/consensus_second_round.py
  src/gui.py
  src/lib/config_system.py
  src/lib/merkle_root.py
  src/lib/mixlib.py
  src/lib/perpetualtimer.py
  src/lib/settings_system.py
  src/transactions/process_the_transaction.py
  src/transactions/send.py
  src/transactions/send_coin.py
  src/transactions/transaction.py
Labels: Code Quality Improvements, Performance Optimization, enhancement

#132 Added double hashing for address system
  src/wallet/wallet.py
Labels: enhancement

#133 Added new blocks hash list system
  .gitignore
  src/blockchain/block/block_main.py
  src/blockchain/block/blocks_hash.py
  src/blockchain/block/calculate_hash.py
  src/blockchain/block/create_block.py
  src/config.py
  src/lib/merkle_root.py
  src/node/myownp2pn.py
Labels: enhancement

#135 0.2.0 alpha
  README.md
  doc/release-notes/release-notes-0.2.0-alpha.md
  requirements.txt
  src/blockchain/block/create_block.py
  src/cli.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/gui_lib/libs/baseclass/wallet_screen.py
  src/gui_lib/libs/kv/operations_screen.kv
  src/gui_lib/libs/kv/wallet_screen.kv
  src/lib/settings_system.py
  src/transactions/send_coin.py
  src/wallet/wallet.py
Labels: enhancement

#136 Removed useless calculations
  src/cli.py
Labels: Path

#137 0.3.0 alpha
  .gitignore
  doc/release-notes/release-notes-0.3.0-alpha.md
  src/blockchain/block/save_block_to_blockchain_db.py
  src/cli.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/gui_lib/libs/baseclass/wallet_screen.py
  src/gui_lib/libs/kv/operations_screen.kv
  src/gui_lib/libs/kv/wallet_screen.kv
  src/lib/encryption.py
  src/transactions/send.py
  src/transactions/send_coin.py
  src/wallet/wallet.py
  test/test_node.py
  test/test_wallet.py
Labels: enhancement

#140 0.3.1 alpha
  README.md
  doc/release-notes/release-notes-0.3.1-alpha.md
  requirements.txt
  src/gui.py
  src/gui_lib/libs/baseclass/node_screen.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/gui_lib/libs/baseclass/wallet_screen.py
  src/gui_lib/libs/kv/node_screen.kv
  src/gui_lib/libs/kv/operations_screen.kv
  src/gui_lib/libs/kv/settings_screen.kv
  src/gui_lib/libs/kv/wallet_screen.kv
  src/gui_lib/libs/kv/welcome_screen.kv
Labels: Fix, Path, enhancement

#145 0.4.0 alpha
  doc/release-notes/release-notes-0.4.0-alpha.md
  src/cli.py
  src/gui_lib/libs/baseclass/wallet_screen.py
  src/gui_lib/libs/kv/wallet_screen.kv
  src/lib/settings_system.py
  src/wallet/wallet.py
Labels: enhancement

#146 0.4.1-alpha
  README.md
  doc/release-notes/release-notes-0.4.1-alpha.md
  src/cli.py
  src/gui_lib/libs/baseclass/node_screen.py
  src/gui_lib/libs/baseclass/settings_screen.py
  src/gui_lib/libs/kv/node_screen.kv
  src/node/get_node_list.py
  src/node/myownp2pn.py
  src/node/node.py
  src/node/node_connection.py
  src/node/unl.py
  test/test_node.py
Labels: Fix, Path, enhancement

#147 0.4.2 alpha
  README.md
  doc/release-notes/release-notes-0.4.2-alpha.md
  src/blockchain/block/block_main.py
Labels: Fix, Path, Performance Optimization

#148 0.4.3 alpha
  .gitignore
  README.md
  doc/release-notes/release-notes-0.4.3-alpha.md
  src/accounts/account.py
  src/blockchain/block/block_main.py
  src/blockchain/block/blocks_hash.py
  src/blockchain/block/calculate_hash.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/config.py
  src/transactions/process_the_transaction.py
Labels: Fix, Path, Performance Optimization

#169 0.4.4 alpha
  README.md
  doc/release-notes/release-notes-0.4.4-alpha.md
  src/blockchain/block/block_main.py
  src/blockchain/block/calculate_hash.py
  src/transactions/process_the_transaction.py
Labels: Fix, Path

#170 Added the dockerfile for cli
  docker/cli/Dockerfile
Labels: Docker, enhancement
