Repository Naruno/Naruno, pull requests merged in 2021-07, with the labels that each got.

#171 cli: Added some argument based controls
  src/cli.py
  src/transactions/send_the_coin.py
  src/wallet/create_a_wallet.py
  src/wallet/delete_current_wallet.py
  src/wallet/print_balance.py
  src/wallet/print_wallets.py
  src/wallet/wallet_selector.py
Labels: CLI, enhancement

#172 api: Added the web api
  requirements/api.txt
  requirements/gui.txt
  src/api.py
  src/cli.py
  src/wallet/print_balance.py
  src/wallet/print_wallets.py
Labels: API, enhancement

#173 send_coin: Some changes for new api
  src/api.py
  src/cli.py
  src/transactions/send_the_coin.py
Labels: Fix, Send

#174 docker: Name fixes
  docker/api/Dockerfile
Labels: Docker

#175 block: Some fixes for block time
  src/blockchain/block/block_main.py
  src/consensus/consensus_main.py
Labels: Fix, Performance Optimization

#176 block: Improvements for new nodes in block time
  src/blockchain/block/block_main.py
  src/consensus/consensus_main.py
  src/node/myownp2pn.py
Labels: Fix, Performance Optimization

#177 consensus: Some fixes for candidate blocks/blockhashes situation
  src/consensus/consensus_first_round.py
  src/consensus/consensus_second_round.py
Labels: Fix

#178 block: New block time optimizer
  src/blockchain/block/block_main.py
  src/consensus/consensus_first_round.py
  src/consensus/consensus_second_round.py
Labels: Fix, Performance Optimization

#179 block: Fixed for new block time optimizer
  src/consensus/consensus_first_round.py
  src/consensus/consensus_second_round.py
Labels: Fix, Performance Optimization

#180 block: Fixes for block time optimizer
  src/consensus/consensus_first_round.py
  src/consensus/consensus_second_round.py
Labels: Fix, Performance Optimization

#181 Added some docs and tests
  doc/getting-started/downloading.md
  doc/getting-started/using.md
  doc/systems/accounts.md
  doc/systems/transactions.md
  docker/github_packages/api/Dockerfile
  pytest.ini
  test_environments/github_packages/README.md
  test_environments/github_packages/docker.py
  test_environments/github_packages/test_decentra_network_docker.py
Labels: Test, documentation

#184 test_enironments: Added local test builder and tester
  test_environments/github_packages/README.md
  test_environments/local/README.md
  test_environments/local/local.py
  test_environments/local/test_decentra_network_local.py
Labels: Test Environments

#186 Added Test Environments Workflow And Local Dockerfile
  .github/workflows/ubuntu_latest_test_decentra_network_local.yml
  docker/local/api/Dockerfile
  docker/local/cli/Dockerfile
Labels: Docker, Github Acitons, Test, Test Environments

#187 Code Quality Improvements And Some Fixes
  functional_test/local/local.py
  src/accounts/account.py
  src/accounts/get_balance.py
  src/accounts/get_sequance_number.py
  src/api.py
  src/app/app_main.py
  src/blockchain/block/blocks_hash.py
  src/blockchain/block/create_block.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/blockchain/candidate_block/candidate_block_main.py
  src/blockchain/candidate_block/get_candidate_blocks.py
  src/consensus/consensus_first_round.py
  src/consensus/consensus_main.py
  src/consensus/consensus_second_round.py
  src/lib/config_system.py
  src/lib/merkle_root.py
  src/lib/perpetualtimer.py
  src/lib/settings_system.py
  src/node/node_connection.py
  src/node/unl.py
  src/transactions/pending_to_validating.py
  src/transactions/process_the_transaction.py
  src/transactions/send.py
  src/transactions/send_coin.py
  src/transactions/send_the_coin.py
  src/transactions/transaction.py
  src/wallet/create_a_wallet.py
  src/wallet/delete_current_wallet.py
  src/wallet/print_balance.py
  src/wallet/print_wallets.py
  src/wallet/wallet_selector.py
Labels: Code Quality Improvements, Fix, Test Environments

#190 block: Each user should only save the block containing their transaction
  src/blockchain/block/save_block_to_blockchain_db.py
  src/transactions/process_the_transaction.py
Labels: Fix, Performance Optimization, enhancement

#192 docs: Added api documents
  docs/systems/api.md
Labels: API, documentation

#195 #194 Doublespend Solve 1
  functional_test/docker/test_decentra_network_docker.py
  functional_test/local/test_decentra_network_local.py
  src/blockchain/block/block_main.py
Labels: Transaction, Vulnerability

#198 #194 Doublespend Solve 2 - Complate
  src/blockchain/block/block_main.py
Labels: Transaction, Vulnerability

#199 functional_test: Some time improvements
  functional_test/docker/test_decentra_network_docker.py
  functional_test/local/test_decentra_network_local.py
Labels: Functional Test, Performance Optimization

#200 transaction: Added transaction history future to cli_parameters, cli_menu and api
  docs/systems/api.md
  docs/systems/cli.md
  src/api.py
  src/cli.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/lib/export.py
  src/transactions/print_transactions.py
  src/transactions/save_to_my_transaction.py
Labels: API, CLI Menu, CLI Parameters, Transaction, enhancement

#201 transaction: Added the transaction history view future to gui
  src/gui_lib/libs/baseclass/operations_screen.py
  src/gui_lib/libs/kv/operations_screen.kv
Labels: GUI, Transaction, enhancement

#203 system: Added status calculator
  docs/systems/api.md
  docs/systems/cli.md
  src/api.py
  src/cli.py
  src/gui_lib/libs/baseclass/node_screen.py
  src/gui_lib/libs/kv/node_screen.kv
  src/lib/status.py
Labels: API, CLI Menu, CLI Parameters, GUI, enhancement

#206 improved code quality and speed
  src/transactions/send_the_coin.py
Labels: Code Quality Improvements, Performance Optimization
