Repository Naruno/Naruno, pull requests merged in 2021-05, with the labels that each got.

#35 Saving Blocks to SQLite Database and Some Fixes Added
  .gitignore
  blockchain/block/block_main.py
  config.py
  node/myownp2pn.py
Labels: Fixing, enhancement

#36 added a function to get the hash value of hash256 of an instance of Account class
  blockchain/block/account.py
Labels: enhancement

#38 removed trailing blank line
  test/test_config.py
  test/test_node.py
  test/test_settings.py
Labels: Fixing

#37 Small fixes for Account Class
  blockchain/block/account.py
Labels: Fixing

#39 Fixes for candidate blocks
  .gitignore
  blockchain/block/block_main.py
  config.py
  node/myownp2pn.py
Labels: Fixing

#40 Performance Optimization for Block Times
  blockchain/block/block_main.py
Labels: Performance Optimization

#41 New Folder Structure
  src/apps/README.md
  src/blockchain/block/account.py
  src/blockchain/block/block_main.py
  src/blockchain/block/transaction.py
  src/cli.py
  src/config.py
  src/db/README.md
  src/func/README.md
  src/func/merkle_root.py
  src/func/node_connection.py
  src/func/send.py
  src/func/send_coin.py
  src/gui.py
  src/gui_lib/fonts/ECZAR_LICENCE
  src/gui_lib/fonts/Eczar-Regular.ttf
  src/gui_lib/fonts/Eczar-SemiBold.ttf
  src/gui_lib/fonts/ROBOTOCONDENSED_LICENSE
  src/gui_lib/fonts/Roboto-Medium.ttf
  src/gui_lib/fonts/RobotoCondensed-Bold.ttf
  src/gui_lib/fonts/RobotoCondensed-Light.ttf
  src/gui_lib/fonts/RobotoCondensed-Regular.ttf
  src/gui_lib/images/logo.ico
  src/gui_lib/libs/baseclass/node_screen.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/gui_lib/libs/baseclass/root_screen.py
  src/gui_lib/libs/baseclass/settings_screen.py
  src/gui_lib/libs/baseclass/tabnavigation.py
  src/gui_lib/libs/baseclass/wallet_screen.py
  src/gui_lib/libs/baseclass/welcome_screen.py
  src/gui_lib/libs/kv/node_screen.kv
  src/gui_lib/libs/kv/operations_screen.kv
  src/gui_lib/libs/kv/root_screen.kv
  src/gui_lib/libs/kv/settings_screen.kv
  src/gui_lib/libs/kv/tabnavigation.kv
  src/gui_lib/libs/kv/wallet_screen.kv
  src/gui_lib/libs/kv/welcome_screen.kv
  src/lib/config_system.py
  src/lib/mixlib.py
  src/lib/settings_system.py
  src/node/myownp2pn.py
  src/node/node.py
  src/node/unl.py
  src/wallet/wallet.py
  test/test_config.py
  test/test_node.py
  test/test_settings.py
  test/test_wallet.py
Labels: enhancement

#42 Small Fixes for Gui Libs Loading
  src/gui.py
Labels: Fix

#43 Added Codeql
  .github/workflows/codeql-analysis.yml
Labels: enhancement

#46 Code Quality Improvements and License Changes for Some File
  .github/workflows/codeql-analysis.yml
  src/blockchain/block/block_main.py
  src/cli.py
  src/func/merkle_root.py
  src/func/node_connection.py
  src/func/send.py
  src/gui.py
  src/gui_lib/libs/baseclass/settings_screen.py
  src/lib/mixlib.py
  src/lib/settings_system.py
  src/node/myownp2pn.py
  src/node/node.py
  src/node/unl.py
  src/wallet/wallet.py
Labels: Fix, enhancement

#48 Code Quality Improvements
  src/app/app_main.py
  src/consensus/consensus_second_round.py
  src/gui_lib/libs/baseclass/node_screen.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/node/node.py
  src/wallet/wallet.py
Labels: Code Quality Improvements

#49 fixed several pep8 violation in candidate_blocks.py
  src/blockchain/block/candidate_blocks.py
Labels: Code Quality Improvements

#50 fixed several pep8 violation in account.py
  src/accounts/account.py
Labels: Code Quality Improvements

#51 Code Quality Improvements and Fix for New Account Creation
  src/accounts/account.py
  src/accounts/get_balance.py
  src/accounts/get_sequance_number.py
  src/app/app_main.py
  src/blockchain/block/block_main.py
  src/blockchain/block/calculate_hash.py
  src/blockchain/block/create_block.py
  src/blockchain/block/get_block.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/cli.py
  src/consensus/consensus_first_round.py
  src/consensus/consensus_main.py
  src/gui_lib/libs/baseclass/node_screen.py
  src/gui_lib/libs/baseclass/wallet_screen.py
  src/node/get_node_list.py
  src/node/myownp2pn.py
  src/transactions/pending_to_validating.py
  src/transactions/process_the_transaction.py
  src/transactions/send.py
Labels: Code Quality Improvements, Fix

#52 fixes for candidate blocks glitch
  src/blockchain/block/block_main.py
  src/blockchain/block/candidate_blocks.py
  src/blockchain/candidate_block/candidate_block_main.py
  src/blockchain/candidate_block/get_candidate_blocks.py
  src/consensus/consensus_first_round.py
  src/consensus/consensus_second_round.py
  src/node/myownp2pn.py
  src/node/node.py
Labels: Fix

#53 code quality improvements and unl nodes fixes
  src/blockchain/block/block_main.py
  src/blockchain/block/create_block.py
  src/blockchain/candidate_block/candidate_block_main.py
  src/blockchain/candidate_block/get_candidate_blocks.py
  src/cli.py
  src/consensus/consensus_first_round.py
  src/consensus/consensus_second_round.py
  src/gui_lib/libs/baseclass/node_screen.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/gui_lib/libs/baseclass/wallet_screen.py
  src/lib/mixlib.py
  src/node/myownp2pn.py
  src/node/node.py
Labels: Code Quality Improvements, Fix

#55 Account PublicKey Size Improvements (Added Address System)
  src/accounts/account.py
  src/accounts/get_balance.py
  src/accounts/get_sequance_number.py
  src/blockchain/block/block_main.py
  src/blockchain/block/calculate_hash.py
  src/blockchain/block/create_block.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/transactions/process_the_transaction.py
  src/transactions/transaction.py
  src/wallet/wallet.py
Labels: Performance Optimization, enhancement

#65 Added The Minumum Transfer Amount
  src/blockchain/block/block_main.py
  src/cli.py
  src/gui_lib/libs/baseclass/operations_screen.py
Labels: enhancement

#66 added a mechanism to change transaction fee
  src/blockchain/block/block_main.py
  src/blockchain/block/calculate_hash.py
  src/node/myownp2pn.py
  src/transactions/send.py
Labels: enhancement

#71 Added Reserve Control Mechanism
  src/accounts/get_balance.py
Labels: enhancement

#72 Fixes For Candidate Block Vulnerability
  src/node/myownp2pn.py
Labels: Vulnerability

#73 Block time Adjustment Mechanism
  src/blockchain/block/block_main.py
  src/consensus/consensus_main.py
  src/consensus/consensus_second_round.py
  src/node/myownp2pn.py
Labels: Performance Optimization, enhancement

#77 Added Time Stamp To The Transaction
  src/blockchain/block/block_main.py
  src/consensus/consensus_first_round.py
  src/node/myownp2pn.py
  src/transactions/send.py
  src/transactions/transaction.py
Labels: enhancement

#79 Changing On Validated Block Saving - Sqlite3 To Pickle
  .gitignore
  src/blockchain/block/save_block_to_blockchain_db.py
  src/config.py
  src/db/blocks/README.md
Labels: Performance Optimization, enhancement

#80 The Accounts Removed From Blocks
  .gitignore
  src/accounts/account.py
  src/accounts/get_balance.py
  src/accounts/get_sequance_number.py
  src/blockchain/block/block_main.py
  src/blockchain/block/calculate_hash.py
  src/blockchain/block/create_block.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/config.py
  src/node/myownp2pn.py
  src/transactions/process_the_transaction.py
Labels: Performance Optimization, enhancement
