Repository Naruno/Naruno, pull requests merged in 2022-12, with the labels that each got.

#1328 blockchain: Changed community green paper hash
  decentra_network/blockchain/block/block_main.py
  tests/unit_tests/test_blockchain.py
Labels: Blockchain

#1329 node: Added an exit the message reception loop when a destination node is closed
  decentra_network/node/client/client.py
Labels: Node

#1331 lib: Added cleaning test_app outputs
  decentra_network/lib/clean_up.py
Labels: Lib

#1332 cli: Added backup system functions
  decentra_network/cli/main.py
  decentra_network/lib/backup/decentra_export.py
  decentra_network/lib/backup/decentra_import.py
  tests/unit_tests/test_lib.py
Labels: CLI

#1334 gui: Added ability to send data
  decentra_network/gui_lib/libs/baseclass/operations_screen.py
  decentra_network/gui_lib/libs/kv/operations_screen.kv
Labels: GUI

#1333 lib: Added sended variable to export transaction csv
  decentra_network/lib/export.py
  tests/unit_tests/test_api.py
  tests/unit_tests/test_lib.py
Labels: Lib

#1335 gui: Fixed FileNotFoundError for GetBlock function usage
  decentra_network/gui_lib/libs/baseclass/operations_screen.py
Labels: GUI

#1337 gui: Fixed NoneType errors that caused by server.Server
  decentra_network/gui_lib/libs/baseclass/node_screen.py
  decentra_network/gui_lib/libs/baseclass/operations_screen.py
Labels: GUI

#1340 packages: Fixed console script bug by adding .main before using start function
  setup.py
Labels: Packages

#1346 api: Added api for gathering the block as json
  decentra_network/api/main.py
  docs/referances/apis.md
  tests/unit_tests/test_api.py
Labels: API
