Repository Naruno/Naruno, pull requests merged in 2022-01, with the labels that each got.

#216 prevent that index_out_of_range is thrown when there is no wallet
  src/wallet/wallet.py
Labels: Fix, Path

#235 setups: Added main package to api and gui packages
  setups/api/setup.py
  setups/gui/setup.py
Labels: API, GUI, setups, setup

#237 Code Quality Improvements
  docs/systems/functions.md
  src/accounts/account.py
  src/accounts/save_accounts.py
  src/accounts/save_accounts_part.py
  src/api.py
  src/app/app_main.py
  src/blockchain/block/block_main.py
  src/blockchain/block/blocks_hash.py
  src/blockchain/block/calculate_hash.py
  src/blockchain/block/create_block.py
  src/blockchain/block/get_block.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/cli.py
  src/consensus/consensus_first_round.py
  src/gui.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/lib/encryption.py
  src/lib/status.py
  src/node/myownp2pn.py
  src/node/node.py
  src/transactions/change_transaction_fee.py
  src/transactions/create_transaction.py
  src/transactions/print_transactions.py
  src/transactions/process_the_transaction.py
  src/transactions/propagating_the_tx.py
  src/transactions/send.py
  src/transactions/send_coin.py
  src/transactions/send_the_coin.py
  src/transactions/tx_already_got.py
Labels: Code Quality Improvements

#248 Adding the licence to all files
  setup.py
  setups/api/setup.py
  setups/gui/setup.py
Labels: setups, setup

#247 A fixed for calculation the hash
  src/blockchain/block/calculate_hash.py
Labels: Block

#250 Seperation for get accounts functions
  src/accounts/account.py
  src/accounts/get_accounts.py
  src/accounts/get_accounts_part.py
  src/accounts/get_balance.py
  src/accounts/get_sequance_number.py
  src/blockchain/block/calculate_hash.py
  src/blockchain/block/save_block_to_blockchain_db.py
Labels: Code Quality Improvements, Low Priority, Accounts

#252 Docstring for get accounts functions
  src/accounts/get_accounts.py
  src/accounts/get_accounts_part.py
Labels: documentation, Low Priority, Accounts

#253 Backup the blockchain
  src/blockchain/block/block_main.py
Labels: Block, High Priority, Backup

#259 Added restore previous hash from currently block at TEMP_BLOCK_PATH
  src/blockchain/block/block_main.py
  src/blockchain/block/create_block.py
Labels: Block, High Priority, Backup

#260 Adding a mode to auto builders that create network with 2 or more sec…
  auto_builders/docker.py
  auto_builders/local.py
Labels: enhancement, Medium Priority, Auto Builders

#261 Added a scenerio and maded some improvements
  .github/workflows/stability_test_3_1.yml
  .github/workflows/stability_test_7_2.yml
  functional_test/docker/docker.py
  functional_test/docker/test_decentra_network_docker_3_1.py
  functional_test/docker/test_decentra_network_docker_7_2.py
  requirements.txt
Labels: enhancement, Stability Test

#270 Adding the spec files for exe
  API.spec
  CLI.spec
  GUI.spec
Labels: CLI Parameters, API, CLI Menu, GUI, Windows

#278 Added codebeat badge
  README.md
Labels: Code Quality Improvements, Medium Priority, Code Analysis

#281 Added codacy badge
  README.md
Labels: Code Quality Improvements, Medium Priority, Code Analysis

#283 Added codescene badges
  README.md
Labels: Code Quality Improvements, Medium Priority, Code Analysis

#285 Added repography dashboards
  README.md
Labels: Code Quality Improvements, Medium Priority, Code Analysis

#287 Fix for auto builders parameter help messages
  auto_builders/docker.py
  auto_builders/local.py
Labels: documentation, Code Quality Improvements, Medium Priority, Auto Builders

#290 Added auto builders folders to functional test workflow
  .github/workflows/functional_tests.yml
Labels: Github Actions, Functional Test, High Priority, Auto Builders

#293 Changed the dowload description of api and gui exe
  docs/getting-started/downloading.md
Labels: documentation, High Priority

#297 Code quality improvements for auto builders
  auto_builders/docker.py
  auto_builders/local.py
Labels: Code Quality Improvements, High Priority, Auto Builders

#299 GitHub workflow for the pypi package build and publish
  .github/workflows/upload_python_package.yml
Labels: Github Actions, setups, setup, High Priority

#301 Automating the docker image build and publish
  .github/workflows/deploy_packages.yml
  .github/workflows/upload_python_packages.yml
Labels: Docker, Github Actions, High Priority

#304 Removed the exe instructions from downloading and using
  docs/getting-started/downloading.md
  docs/getting-started/using.md
Labels: Github Actions, High Priority, Windows

#307 Added version 0.13.0
  docs/release-notes/release-notes-0.13.0-alpha.md
  requirements/api.txt
  requirements/gui.txt
  setup.py
  setups/api/setup.py
  setups/gui/setup.py
Labels: minor, High Priority

#309 Add files via upload
  decentranetworkapi.ifp
  decentranetworkcli.ifp
  decentranetworkgui.ifp
Labels: Low Priority, Windows

#311 Code Quality Improvements for src/blockchain/block/block_main.py
  src/blockchain/block/block_main.py
Labels: Code Quality Improvements, Block, Medium Priority

#314 Code Quality improvements for src/consensus/consensus_first_round.py
  src/consensus/consensus_first_round.py
Labels: Code Quality Improvements, Medium Priority, Consensus

#318 Performing functional tests according to success as a result of multiple trials
  functional_test/docker/test_decentra_network_docker.py
Labels: Github Actions, Functional Test, High Priority
