Repository Naruno/Naruno, pull requests merged in 2022-11, with the labels that each got.

#1239 transactions: Added logging to PendingtoValidating function
  decentra_network/transactions/pending_to_validating.py
  tests/unit_tests/test_transactions.py
Labels: Transactions, Logging

#1238 node: Added logging to server.check_connected function
  decentra_network/node/server/server.py
Labels: Node, Logging

#1242 lib: Fixed multiple times same logging
  decentra_network/lib/log.py
Labels: Logging, Lib

#1247 node: Added logging to server.run function
  decentra_network/node/server/server.py
  tests/unit_tests/test_node.py
Labels: Node, Logging

#1245 blockchain: Added logging to ChangeTransactionFee function
  decentra_network/blockchain/block/change_transaction_fee.py
Labels: Blockchain, Logging

#1250 consensus: Added logging to time control of round 1
  decentra_network/consensus/rounds/round_1/checks/time/time_difference/time_difference_main.py
Labels: Consensus, Logging

#1259 github: Enabled resltyled pull request for forks based pull requests
  .github/restyled.yml
Labels: GitHub

#1253 consensus: Added logging to time control of round 2
  decentra_network/consensus/rounds/round_2/checks/time/time_difference/time_difference_main.py
Labels: Consensus, Logging

#1255 consensus: Added logging to candidate block control of round 2
  decentra_network/consensus/rounds/round_2/checks/candidate_blocks_hashes/candidate_blocks_hashes_main.py
Labels: Consensus, Logging

#1258 consensus: Added logging to check main of round 2
  decentra_network/consensus/rounds/round_2/checks/checks_main.py
Labels: Consensus, Logging

#1272 consensus: Adding logging to validate main of round 2
  decentra_network/consensus/rounds/round_2/process/validate/validate_main.py
Labels: Consensus, Logging

#1282 tests: Fixed not unl node test
  tests/unit_tests/test_node.py
Labels: Tests, Node

#1275 consensus: Added logging to remove duplicates of round 1
  decentra_network/consensus/rounds/round_1/process/transactions/checks/duplicated.py
Labels: Consensus, Logging

#1281 consensus: Added logging to process main of round 2
  decentra_network/consensus/rounds/round_2/process/process_main.py
Labels: Consensus, Logging

#1278 consensus: Added logging to process candidate block hashes of round 2
  decentra_network/consensus/rounds/round_2/process/candidate_blocks_hashes/candidate_blocks_hashes_main.py
Labels: Consensus, Logging

#1277 consensus: Added logging to find validated of round 1
  decentra_network/consensus/rounds/round_1/process/transactions/find_validated/find_validated_main.py
Labels: Consensus, Logging

#1276 consensus: Added logging to find newly of round 1
  decentra_network/consensus/rounds/round_1/process/transactions/find_newly/find_newly_main.py
Labels: Consensus, Logging

#1280 consensus: Added logging to rescue main of round 2
  decentra_network/consensus/rounds/round_2/process/rescue/rescue_main.py
Labels: Consensus, Logging

#1279 consensus: Added logging to process transaction of round 1
  decentra_network/consensus/rounds/round_1/process/process_main.py
Labels: Consensus, Logging

#1288 Removed unused cgitb reset function for fixing bugs on packages
  decentra_network/consensus/finished/finished_main.py
  decentra_network/lib/performance_analyzers/blockshash.py
  decentra_network/lib/performance_analyzers/blockshash_part.py
Labels: Packages

#1285 consensus: Added logging to main of round 2
  decentra_network/consensus/rounds/round_2/round_2_main.py
Labels: Consensus, Logging

#1290 consensus: Added logging to candidate block control of round 1
  decentra_network/consensus/rounds/round_1/checks/candidate_blocks/candidate_blocks_main.py
  decentra_network/consensus/rounds/round_2/checks/candidate_blocks_hashes/candidate_blocks_hashes_main.py
Labels: Consensus, Logging

#1292 consensus: Added logging to check main of round 1
  decentra_network/consensus/rounds/round_1/checks/checks_main.py
  decentra_network/consensus/rounds/round_2/checks/checks_main.py
Labels: Consensus, Logging

#1293 consensus: Added logging to process main of round 1
  decentra_network/consensus/rounds/round_1/process/process_main.py
  decentra_network/consensus/rounds/round_2/process/process_main.py
Labels: Consensus, Logging

#1298 consensus: Added logging to main of round 1
  decentra_network/consensus/rounds/round_1/round_1_main.py
Labels: Consensus, Logging

#1299 lib: Added QR module
  buildozer.spec
  decentra_network/config.py
  decentra_network/db/qrs/README.md
  decentra_network/gui_lib/images/logo_w_bc.png
  decentra_network/lib/qr.py
  requirements/gui.txt
  setups/gui/setup.py
Labels: Lib

#1300 lib: Added notification module
  buildozer.spec
  decentra_network/gui_lib/images/logo.png
  decentra_network/gui_lib/images/logo_win.ico
  decentra_network/lib/notification.py
  requirements/gui.txt
  setups/gui/setup.py
Labels: Lib

#1302 gui: Fixed button text bug after updating requirements
  decentra_network/gui_lib/libs/kv/node_screen.kv
  decentra_network/gui_lib/libs/kv/operations_screen.kv
  decentra_network/gui_lib/libs/kv/wallet_screen.kv
Labels: GUI

#1304 gui: Added address to QR code transformation
  .gitignore
  GUI-win32.spec
  buildozer.spec
  decentra_network/gui_lib/libs/baseclass/wallet_screen.py
  decentra_network/gui_lib/libs/kv/wallet_screen.kv
  decentra_network/lib/qr.py
  recipes/src/python-for-android/recipes/plyer/__init__.py
  recipes/src/python-for-android/recipes/qrcode/__init__.py
Labels: GUI

#1307 github: Removed caching from buildozer
  .github/workflows/builds.yml
Labels: GitHub

#1308 gui: Added node id to QR code transformation
  decentra_network/gui_lib/libs/baseclass/node_screen.py
  decentra_network/gui_lib/libs/kv/node_screen.kv
Labels: GUI, Node

#1312 transactions: Notification on validated and received and sended transaction
  decentra_network/lib/notification.py
  decentra_network/transactions/my_transactions/save_to_my_transaction.py
  decentra_network/transactions/my_transactions/sended_transaction.py
  decentra_network/transactions/my_transactions/validate_transaction.py
  tests/unit_tests/test_lib.py
Labels: Transactions

#1317 gui: Added mute notifications setting
  decentra_network/gui_lib/libs/baseclass/settings_screen.py
  decentra_network/gui_lib/libs/kv/settings_screen.kv
  decentra_network/lib/notification.py
  decentra_network/lib/settings_system.py
  tests/unit_tests/test_lib.py
Labels: GUI

#1318 lib: Added backup system
  .gitignore
  decentra_network/config.py
  decentra_network/lib/backup/decentra_export.py
  decentra_network/lib/backup/decentra_import.py
  tests/unit_tests/test_lib.py
Labels: Lib

#1319 docs: Added supported OS to readme
  README.md
Labels: Docs

#1320 docs: Added sponsors to readme
  README.md
Labels: Docs

#1327 blockchain: Added share mechanism of dnc
  decentra_network/blockchain/block/block_main.py
  decentra_network/blockchain/block/change_transaction_fee.py
  decentra_network/blockchain/block/shares.py
  decentra_network/consensus/ongoing/ongoing_main.py
  decentra_network/consensus/rounds/round_1/process/process_main.py
  decentra_network/consensus/rounds/round_1/round_1_main.py
  decentra_network/transactions/process_the_transaction.py
  tests/unit_tests/test_blockchain.py
  tests/unit_tests/test_consensus.py
  tests/unit_tests/test_transactions.py
Labels: Blockchain
