Repository Naruno/Naruno, pull requests merged in 2022-06, with the labels that each got.

#412 logger: Fixed auto builders installation bug with changing default settings value of debug mode
  .github/release.yml
  auto_builders/docker.py
  auto_builders/local.py
  src/lib/settings_system.py
Labels: bug, High Priority, Auto-Builders, Logging, Debugging, Settings

#419 tests: Merged the sability tests
  .github/workflows/docker_stability_test_10_3.yml
  .github/workflows/docker_stability_test_3_1.yml
  .github/workflows/docker_stability_test_4_1.yml
  .github/workflows/docker_stability_test_5_1.yml
  .github/workflows/docker_stability_test_5_2.yml
  .github/workflows/docker_stability_test_6_1.yml
  .github/workflows/docker_stability_test_6_2.yml
  .github/workflows/docker_stability_test_7_1.yml
  .github/workflows/docker_stability_test_7_2.yml
  .github/workflows/local_stability_test_10_3.yml
  .github/workflows/local_stability_test_3_1.yml
  .github/workflows/local_stability_test_4_1.yml
  .github/workflows/local_stability_test_5_1.yml
  .github/workflows/local_stability_test_5_2.yml
  .github/workflows/local_stability_test_6_1.yml
  .github/workflows/local_stability_test_6_2.yml
  .github/workflows/local_stability_test_7_1.yml
  .github/workflows/local_stability_test_7_2.yml
  tests/stability_tests/docker/test_decentra_network_docker_10_3.py
  tests/stability_tests/docker/test_decentra_network_docker_3_1.py
  tests/stability_tests/docker/test_decentra_network_docker_4_1.py
  tests/stability_tests/docker/test_decentra_network_docker_5_1.py
  tests/stability_tests/docker/test_decentra_network_docker_5_2.py
  tests/stability_tests/docker/test_decentra_network_docker_6_1.py
  tests/stability_tests/docker/test_decentra_network_docker_6_2.py
  tests/stability_tests/docker/test_decentra_network_docker_7_1.py
  tests/stability_tests/docker/test_decentra_network_docker_7_2.py
  tests/stability_tests/local/test_decentra_network_local_10_3.py
  tests/stability_tests/local/test_decentra_network_local_3_1.py
  tests/stability_tests/local/test_decentra_network_local_4_1.py
  tests/stability_tests/local/test_decentra_network_local_5_1.py
  tests/stability_tests/local/test_decentra_network_local_5_2.py
  tests/stability_tests/local/test_decentra_network_local_6_1.py
  tests/stability_tests/local/test_decentra_network_local_6_2.py
  tests/stability_tests/local/test_decentra_network_local_7_1.py
  tests/stability_tests/local/test_decentra_network_local_7_2.py
Labels: enhancement, Tests, Github-Actions, High Priority, Stability-Test

#422 actions: Added workflow_run to stability tests
  .github/workflows/docker_stability_test_10_3.yml
  .github/workflows/docker_stability_test_3_1.yml
  .github/workflows/docker_stability_test_4_1.yml
  .github/workflows/docker_stability_test_5_1.yml
  .github/workflows/docker_stability_test_5_2.yml
  .github/workflows/docker_stability_test_6_1.yml
  .github/workflows/docker_stability_test_6_2.yml
  .github/workflows/docker_stability_test_7_1.yml
  .github/workflows/docker_stability_test_7_2.yml
  .github/workflows/local_stability_test_10_3.yml
  .github/workflows/local_stability_test_3_1.yml
  .github/workflows/local_stability_test_4_1.yml
  .github/workflows/local_stability_test_5_1.yml
  .github/workflows/local_stability_test_5_2.yml
  .github/workflows/local_stability_test_6_1.yml
  .github/workflows/local_stability_test_6_2.yml
  .github/workflows/local_stability_test_7_1.yml
  .github/workflows/local_stability_test_7_2.yml
Labels: Fix, Tests, Github-Actions, High Priority, Stability-Test, Deploy

#424 actions: Changed the getting way to local build for docker image
  .github/workflows/docker_stability_test_10_3.yml
  .github/workflows/docker_stability_test_3_1.yml
  .github/workflows/docker_stability_test_4_1.yml
  .github/workflows/docker_stability_test_5_1.yml
  .github/workflows/docker_stability_test_5_2.yml
  .github/workflows/docker_stability_test_6_1.yml
  .github/workflows/docker_stability_test_6_2.yml
  .github/workflows/docker_stability_test_7_1.yml
  .github/workflows/docker_stability_test_7_2.yml
Labels: Fix, Docker, Tests, Github-Actions, High Priority, Auto-Builders, Stability-Test

#425 app: Fixed the help links
  src/app/README.md
Labels: Documentation, APP, Fix, High Priority

#428 auto_builders: Local based .out file set differently for each node
  .gitignore
  auto_builders/local.py
Labels: High Priority, Auto-Builders, Logging, Debugging

#429 setups: Synced the requirements with api setup.py
  setups/api/setup.py
Labels: Fix, Setups, High Priority, Dependencies

#434 Removed loguru library
  src/cli.py
  src/gui.py
Labels: bug, Fix, CLI-Parameters, CLI-Menu, GUI, High Priority, Dependencies

#431 transactions: Changed the order mechanism
  src/transactions/process_the_transaction.py
Labels: Fix, Transactions, High Priority

#439 transaction: Added a new list to proccess the transaction function for sacalability in big lists
  src/transactions/process_the_transaction.py
Labels: Fix, Transactions, High Priority

#437 wallet: Added a transform process to Address function
  src/wallet/wallet.py
Labels: Fix, High Priority, Wallet

#441 block: Block time change smoothed
  src/consensus/consensus_first_round.py
  src/consensus/consensus_second_round.py
Labels: Block, High Priority, Block-Time-Optimizer

#444 transactions: Disabled multiple transactions from the same account in one block
  src/accounts/get_balance.py
  src/accounts/get_sequance_number.py
  src/transactions/check_transaction.py
  src/transactions/send.py
  src/transactions/send_transaction_to_the_block.py
Labels: Transactions, High Priority

#445 block: Block time increased
  auto_builders/docker.py
  auto_builders/local.py
  src/blockchain/block/block_main.py
  src/lib/status.py
  tests/stability_tests/docker/test_decentra_network_docker_10_3.py
  tests/stability_tests/docker/test_decentra_network_docker_3_1.py
  tests/stability_tests/docker/test_decentra_network_docker_4_1.py
  tests/stability_tests/docker/test_decentra_network_docker_5_1.py
  tests/stability_tests/docker/test_decentra_network_docker_5_2.py
  tests/stability_tests/docker/test_decentra_network_docker_6_1.py
  tests/stability_tests/docker/test_decentra_network_docker_6_2.py
  tests/stability_tests/docker/test_decentra_network_docker_7_1.py
  tests/stability_tests/docker/test_decentra_network_docker_7_2.py
  tests/stability_tests/local/test_decentra_network_local_10_3.py
  tests/stability_tests/local/test_decentra_network_local_3_1.py
  tests/stability_tests/local/test_decentra_network_local_4_1.py
  tests/stability_tests/local/test_decentra_network_local_5_1.py
  tests/stability_tests/local/test_decentra_network_local_5_2.py
  tests/stability_tests/local/test_decentra_network_local_6_1.py
  tests/stability_tests/local/test_decentra_network_local_6_2.py
  tests/stability_tests/local/test_decentra_network_local_7_1.py
  tests/stability_tests/local/test_decentra_network_local_7_2.py
Labels: Block, High Priority, Block-Time-Optimizer

#451 node: Added a check point for taken candidate block and hash
  src/blockchain/candidate_block/get_candidate_blocks.py
  src/node/node.py
Labels: High Priority, Connection, Node

#452 status: Removed time difference based status value
  src/lib/status.py
Labels: High Priority, Status

#454 block: Removed unused elements
  src/blockchain/block/block_main.py
  src/consensus/consensus_first_round.py
  src/consensus/consensus_main.py
  src/consensus/consensus_second_round.py
Labels: Block, High Priority

#458 tests: Increased the functional tests time sleeps for new block time
  tests/functional_tests/local/test_decentra_network_local.py
Labels: Tests, Functional-Test, High Priority

#461 tests: Optimized and fixed functional tests
  tests/functional_tests/local/test_decentra_network_local.py
Labels: Fix, Tests, Functional-Test, High Priority

#463 github: Added Gource actions
  .github/workflows/gource.yml
Labels: Documentation, Low Priority

#464 auto_builders: Added randomly connect circle node to another circle node
  auto_builders/docker.py
  auto_builders/local.py
Labels: High Priority, Auto-Builders

#466 auto_builders: Added a check for security circle number equal 1 in randomly contribution to circles
  auto_builders/docker.py
  auto_builders/local.py
Labels: Fix, High Priority, Auto-Builders

#470 block: Removed the gap
  src/blockchain/block/block_main.py
Labels: Fix, Block, High Priority

#475 github: Added workflow_dispatch to stability tests
  .github/workflows/docker_stability_test_10_3.yml
  .github/workflows/docker_stability_test_3_1.yml
  .github/workflows/docker_stability_test_4_1.yml
  .github/workflows/docker_stability_test_5_1.yml
  .github/workflows/docker_stability_test_5_2.yml
  .github/workflows/docker_stability_test_6_1.yml
  .github/workflows/docker_stability_test_6_2.yml
  .github/workflows/docker_stability_test_7_1.yml
  .github/workflows/docker_stability_test_7_2.yml
  .github/workflows/local_stability_test_10_3.yml
  .github/workflows/local_stability_test_4_1.yml
  .github/workflows/local_stability_test_5_1.yml
  .github/workflows/local_stability_test_5_2.yml
  .github/workflows/local_stability_test_6_1.yml
  .github/workflows/local_stability_test_6_2.yml
  .github/workflows/local_stability_test_7_1.yml
  .github/workflows/local_stability_test_7_2.yml
Labels: Tests, High Priority, Stability-Test

#477 node: Removed check point that control taken candidate block and block hash
  src/node/node.py
Labels: High Priority, Connection, Node

#480 block: Removed gap of block time
  src/blockchain/block/block_main.py
Labels: Performance-Optimization, Block, High Priority

#481 github: Some settings are set for Gource Action
  .github/workflows/gource.yml
Labels: Documentation, Github-Actions, Medium Priority

#483 github: Added build.yml for cli build for windows and linux
  .github/release.yml
  .github/workflows/build.yml
  .github/workflows/deploys.yml
  API.spec
  CLI.spec
Labels: Medium Priority, Windows, Build, Linux

#492 block: Added new version of Green Paper as sha256
  src/blockchain/block/block_main.py
Labels: Documentation, Block, High Priority

#499 docs: Changed the docs site link in README.md
  README.md
Labels: Documentation, Low Priority

#524 github: Changed build to builds
  .github/release.yml
  .github/workflows/builds.yml
  README.md
Labels: High Priority, Builds

#526 security: Added pywall library based safety check process
  src/api.py
  src/cli.py
  src/gui.py
  src/lib/safety.py
Labels: enhancement, High Priority, Security

#539 github: Changed Deploy workflow run trigger to release publish trigger for stability tests
  .github/workflows/docker_stability_test_10_3.yml
  .github/workflows/docker_stability_test_3_1.yml
  .github/workflows/docker_stability_test_4_1.yml
  .github/workflows/docker_stability_test_5_1.yml
  .github/workflows/docker_stability_test_5_2.yml
  .github/workflows/docker_stability_test_6_1.yml
  .github/workflows/docker_stability_test_6_2.yml
  .github/workflows/docker_stability_test_7_1.yml
  .github/workflows/docker_stability_test_7_2.yml
  .github/workflows/local_stability_test_10_3.yml
  .github/workflows/local_stability_test_3_1.yml
  .github/workflows/local_stability_test_4_1.yml
  .github/workflows/local_stability_test_5_1.yml
  .github/workflows/local_stability_test_5_2.yml
  .github/workflows/local_stability_test_6_1.yml
  .github/workflows/local_stability_test_6_2.yml
  .github/workflows/local_stability_test_7_1.yml
  .github/workflows/local_stability_test_7_2.yml
Labels: Tests, Github-Actions, Medium Priority, Stability-Test

#540 github: Fixed tralling space issues in release.yml
  .github/release.yml
Labels: Fix, Code-Quality-Improvements, High Priority

#541 docker: Code quality improvements for api dockerfiles
  docker/github/api/Dockerfile
  docker/local/api/Dockerfile
Labels: Fix, Code-Quality-Improvements, Docker, High Priority

#542 docker: Fixed code quality issues of cli dockerfiles
  docker/github/cli/Dockerfile
  docker/local/cli/Dockerfile
Labels: Fix, Code-Quality-Improvements, Docker, High Priority

#543 setup-setups-github: Changed required python version with at leas 3.8
  .github/workflows/tests.yml
  setup.py
  setups/api/setup.py
  setups/gui/setup.py
Labels: Github-Actions, Setups, Setup, High Priority

#544 github: Added Deploy environment to Deploy workflow
  .github/workflows/deploys.yml
Labels: Docker, Setups, Setup, High Priority, Deploy

#546 docs: Added missing parts and nav order to release notes
  docs/release-notes/release-notes-0.1.0-alpha.md
  docs/release-notes/release-notes-0.10.0-alpha.md
  docs/release-notes/release-notes-0.11.0-alpha.md
  docs/release-notes/release-notes-0.11.1-alpha.md
  docs/release-notes/release-notes-0.11.2-alpha.md
  docs/release-notes/release-notes-0.11.3-alpha.md
  docs/release-notes/release-notes-0.12.0-alpha.md
  docs/release-notes/release-notes-0.13.0-alpha.md
  docs/release-notes/release-notes-0.14.0-alpha.md
  docs/release-notes/release-notes-0.15.0-alpha.md
  docs/release-notes/release-notes-0.15.1-alpha.md
  docs/release-notes/release-notes-0.15.2-alpha.md
  docs/release-notes/release-notes-0.16.0-alpha.md
  docs/release-notes/release-notes-0.16.1-alpha.md
  docs/release-notes/release-notes-0.17.0-alpha.md
  docs/release-notes/release-notes-0.18.0-alpha.md
  docs/release-notes/release-notes-0.18.1-alpha.md
  docs/release-notes/release-notes-0.18.2-alpha.md
  docs/release-notes/release-notes-0.18.3-alpha.md
  docs/release-notes/release-notes-0.19.0-alpha.md
  docs/release-notes/release-notes-0.2.0-alpha.md
  docs/release-notes/release-notes-0.20.0-alpha.md
  docs/release-notes/release-notes-0.21.0-alpha.md
  docs/release-notes/release-notes-0.21.1-alpha.md
  docs/release-notes/release-notes-0.21.2-alpha.md
  docs/release-notes/release-notes-0.21.3-alpha.md
  docs/release-notes/release-notes-0.22.0-alpha.md
  docs/release-notes/release-notes-0.3.0-alpha.md
  docs/release-notes/release-notes-0.3.1-alpha.md
  docs/release-notes/release-notes-0.3.2-alpha.md
  docs/release-notes/release-notes-0.4.0-alpha.md
  docs/release-notes/release-notes-0.4.1-alpha.md
  docs/release-notes/release-notes-0.4.2-alpha.md
  docs/release-notes/release-notes-0.4.3-alpha.md
  docs/release-notes/release-notes-0.4.4-alpha.md
  docs/release-notes/release-notes-0.4.5-alpha.md
  docs/release-notes/release-notes-0.4.6-alpha.md
  docs/release-notes/release-notes-0.5.0-alpha.md
  docs/release-notes/release-notes-0.5.1-alpha.md
  docs/release-notes/release-notes-0.6.0-alpha.md
  docs/release-notes/release-notes-0.7.0-alpha.md
  docs/release-notes/release-notes-0.8.0-alpha.md
  docs/release-notes/release-notes-0.8.1-alpha.md
  docs/release-notes/release-notes-0.8.2-alpha.md
  docs/release-notes/release-notes-0.8.3-alpha.md
  docs/release-notes/release-notes-0.8.4-alpha.md
  docs/release-notes/release-notes-0.9.0-alpha.md
  docs/release-notes/release-notes-0.9.1-alpha.md
Labels: Documentation, Fix, High Priority

#545 transactions: Removed the print function of send_transaction_to_the_block
  src/transactions/send_transaction_to_the_block.py
Labels: Send, Transactions, Medium Priority, Debugging

#549 tests: Changed th test names
  tests/functional_tests/local/test_decentra_network_local.py
  tests/stability_tests/docker/test_decentra_network_docker_10_3.py
  tests/stability_tests/docker/test_decentra_network_docker_3_1.py
  tests/stability_tests/docker/test_decentra_network_docker_4_1.py
  tests/stability_tests/docker/test_decentra_network_docker_5_1.py
  tests/stability_tests/docker/test_decentra_network_docker_5_2.py
  tests/stability_tests/docker/test_decentra_network_docker_6_1.py
  tests/stability_tests/docker/test_decentra_network_docker_6_2.py
  tests/stability_tests/docker/test_decentra_network_docker_7_1.py
  tests/stability_tests/docker/test_decentra_network_docker_7_2.py
  tests/stability_tests/local/test_decentra_network_local_10_3.py
  tests/stability_tests/local/test_decentra_network_local_3_1.py
  tests/stability_tests/local/test_decentra_network_local_4_1.py
  tests/stability_tests/local/test_decentra_network_local_5_1.py
  tests/stability_tests/local/test_decentra_network_local_5_2.py
  tests/stability_tests/local/test_decentra_network_local_6_1.py
  tests/stability_tests/local/test_decentra_network_local_6_2.py
  tests/stability_tests/local/test_decentra_network_local_7_1.py
  tests/stability_tests/local/test_decentra_network_local_7_2.py
  tests/unit_tests/test_api.py
  tests/unit_tests/test_config.py
  tests/unit_tests/test_node.py
  tests/unit_tests/test_settings.py
  tests/unit_tests/test_wallet.py
Labels: Tests, Functional-Test, High Priority, Stability-Test, Unit test, Debugging

#551 tests: Added docker based functional test
  .github/workflows/tests.yml
  tests/functional_tests/docker/__init__.py
  tests/functional_tests/docker/test_decentra_network_docker.py
Labels: Docker, Tests, Github-Actions, Functional-Test, High Priority

#554 github: Added status information to functional tests
  .github/workflows/tests.yml
Labels: Tests, Github-Actions, Functional-Test, High Priority, Status

#556 block: Added validating time reset in block reset
  src/blockchain/block/block_main.py
Labels: Fix, Block, High Priority, Debugging

#558 block: Added a space from consensus process and block time
  src/blockchain/block/block_main.py
Labels: Fix, Block, High Priority, Consensus

#559 github: Added Status Information to stability tests
  .github/workflows/docker_stability_test_10_3.yml
  .github/workflows/docker_stability_test_3_1.yml
  .github/workflows/docker_stability_test_4_1.yml
  .github/workflows/docker_stability_test_5_1.yml
  .github/workflows/docker_stability_test_5_2.yml
  .github/workflows/docker_stability_test_6_1.yml
  .github/workflows/docker_stability_test_6_2.yml
  .github/workflows/docker_stability_test_7_1.yml
  .github/workflows/docker_stability_test_7_2.yml
  .github/workflows/local_stability_test_10_3.yml
  .github/workflows/local_stability_test_3_1.yml
  .github/workflows/local_stability_test_4_1.yml
  .github/workflows/local_stability_test_5_1.yml
  .github/workflows/local_stability_test_5_2.yml
  .github/workflows/local_stability_test_6_1.yml
  .github/workflows/local_stability_test_6_2.yml
  .github/workflows/local_stability_test_7_1.yml
  .github/workflows/local_stability_test_7_2.yml
Labels: Tests, Github-Actions, High Priority, Stability-Test

#562 github: Added log as artifacts for docker based functional test job
  .github/workflows/tests.yml
  auto_builders/docker.py
  docs/getting-started/using.md
Labels: Github-Actions, Functional-Test, High Priority, Logging

#564 wallet: Maded improvements and synced with ecdsa python
  src/accounts/get_balance.py
  src/accounts/get_sequance_number.py
  src/blockchain/block/block_main.py
  src/blockchain/block/create_block.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/gui_lib/libs/baseclass/wallet_screen.py
  src/node/node.py
  src/transactions/check_transaction.py
  src/transactions/process_the_transaction.py
  src/transactions/send.py
  src/transactions/send_transaction_to_the_block.py
  src/wallet/create_a_wallet.py
  src/wallet/delete_current_wallet.py
  src/wallet/ellipticcurve/curve.py
  src/wallet/ellipticcurve/ecdsa.py
  src/wallet/ellipticcurve/math.py
  src/wallet/ellipticcurve/point.py
  src/wallet/ellipticcurve/privateKey.py
  src/wallet/ellipticcurve/publicKey.py
  src/wallet/ellipticcurve/signature.py
  src/wallet/ellipticcurve/utils/binary.py
  src/wallet/ellipticcurve/utils/compatibility.py
  src/wallet/ellipticcurve/utils/der.py
  src/wallet/ellipticcurve/utils/file.py
  src/wallet/ellipticcurve/utils/integer.py
  src/wallet/ellipticcurve/utils/oid.py
  src/wallet/ellipticcurve/utils/pem.py
  src/wallet/get_saved_wallet.py
  src/wallet/print_balance.py
  src/wallet/print_wallets.py
  src/wallet/save_wallet_list.py
  src/wallet/wallet.py
  src/wallet/wallet_create.py
  src/wallet/wallet_delete.py
  src/wallet/wallet_import.py
  src/wallet/wallet_selector.py
  tests/unit_tests/test_node.py
  tests/unit_tests/test_wallet.py
Labels: High Priority, Wallet

#566 node: Added send full accounts and blocks hash to send full chain
  src/node/node.py
Labels: Block, High Priority, Accounts, Node

#574 github: Changed Deploy environment name to Deploys
  .github/workflows/deploys.yml
Labels: Github-Actions, High Priority

#575 github: Added Builds environment
  .github/workflows/builds.yml
  .github/workflows/gource.yml
Labels: Github-Actions, High Priority

#577 github: Added Tests environment
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/devskim.yml
  .github/workflows/docker_stability_test_10_3.yml
  .github/workflows/docker_stability_test_3_1.yml
  .github/workflows/docker_stability_test_4_1.yml
  .github/workflows/docker_stability_test_5_1.yml
  .github/workflows/docker_stability_test_5_2.yml
  .github/workflows/docker_stability_test_6_1.yml
  .github/workflows/docker_stability_test_6_2.yml
  .github/workflows/docker_stability_test_7_1.yml
  .github/workflows/docker_stability_test_7_2.yml
  .github/workflows/local_stability_test_10_3.yml
  .github/workflows/local_stability_test_3_1.yml
  .github/workflows/local_stability_test_4_1.yml
  .github/workflows/local_stability_test_5_1.yml
  .github/workflows/local_stability_test_5_2.yml
  .github/workflows/local_stability_test_6_1.yml
  .github/workflows/local_stability_test_6_2.yml
  .github/workflows/local_stability_test_7_1.yml
  .github/workflows/local_stability_test_7_2.yml
  .github/workflows/ossar.yml
  .github/workflows/tests.yml
Labels: Github-Actions, High Priority

#579 transaction: Amount and fee decimal amount limited to block.transaction_fee
  src/transactions/check_transaction.py
  src/transactions/send.py
Labels: Transactions, High Priority

#582 github: Removed after workflow run Tests triggers
  .github/workflows/builds.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/tests.yml
Labels: Github-Actions, High Priority

#583 docs: Added new dowload links and using docs
  docs/getting-started/downloading.md
  docs/getting-started/using.md
Labels: Documentation, High Priority

#585 docs: Added document for application developer that closing the thread after succeed works
  docs/apps/embedded/definition_for_app.md
Labels: Documentation, High Priority

#589 transaction: Set limits for fromUser and toUser and added type checking for transaction elements
  src/transactions/check_transaction.py
  src/transactions/send_transaction_to_the_block.py
Labels: Transactions, High Priority

#591 transaction: Limit set for len of data
  src/transactions/check_transaction.py
  src/transactions/send.py
Labels: Transactions, High Priority

#600 github: Changed Github-Actions label to GitHub
  .github/release.yml
Labels: GitHub, Low Priority

#601 github: Changed the name and job name of gource.yml
  .github/workflows/gource.yml
Labels: GitHub, Medium Priority

#608 tests: Added unit tests for wallet_selector function
  src/lib/settings_system.py
  src/wallet/wallet_selector.py
  tests/unit_tests/test_wallet.py
Labels: Tests, Unit test

#611 tests: Added unit tests for delete_current_wallet function
  src/wallet/delete_current_wallet.py
  src/wallet/wallet_delete.py
  tests/unit_tests/test_wallet.py
Labels: Tests, High Priority, Unit test

#614 wallets: Removed create_a_wallet.py
  src/api.py
  src/cli.py
  src/wallet/create_a_wallet.py
Labels: High Priority, Wallet

#626 tests: Added unit tests for dumb and load json transaction
  tests/unit_tests/test_transactions.py
Labels: Tests, High Priority, Unit-Tests

#629 wallet: Removed print_balance.py
  src/api.py
  src/cli.py
  src/transactions/send_transaction_to_the_block.py
  src/wallet/print_balance.py
Labels: Code-Quality-Improvements, High Priority, Wallet

#632 tests: Added unit test for print_wallets function if not current_wallet == number situation
  tests/unit_tests/test_wallet.py
Labels: Tests, High Priority, Unit-Tests

#644 tests: Added unit test for wallet_import function if not -1 == account else situation
  tests/unit_tests/test_wallet.py
Labels: Tests, High Priority, Unit-Tests

#647 tests: Added unit test for wallet_import if not password is None and not list(temp_saved_wallet).index(account) == 0 else situation
  src/wallet/wallet_import.py
  tests/unit_tests/test_wallet.py
Labels: Tests, High Priority, Unit-Tests

#651 tests: Adding unit test for wallet_import mode == 2 situation
  tests/unit_tests/test_wallet.py
Labels: Tests, High Priority, Unit-Tests

#657 tests: Added unit test for PendinttoValidating function and changed with PendingtoValidating and fixed the block previous hash
  src/blockchain/block/block_main.py
  src/blockchain/block/create_block.py
  src/transactions/pending_to_validating.py
  tests/unit_tests/test_transactions.py
Labels: Tests, High Priority, Unit-Tests
