Repository Naruno/Naruno, pull requests merged in 2022-07, with the labels that each got.

#665 tests: Added unit tests for ChangeTransactionFee function
  src/blockchain/block/block_main.py
  src/transactions/check_transaction.py
  tests/unit_tests/test_transactions.py
Labels: Tests, High Priority, Unit-Tests

#676 github: Changed cli menu and paremeters label to CLI
  .github/release.yml
Labels: GitHub

#678 tests: Added unit tests for CheckTransaction function and checking transaction system redesigned
  src/blockchain/block/block_main.py
  src/transactions/check/check_transaction.py
  src/transactions/check/datas/check_datas.py
  src/transactions/check/len/check_len.py
  src/transactions/check/sign/check_sign.py
  src/transactions/check/type/check_type.py
  src/transactions/check_transaction.py
  src/transactions/send_transaction_to_the_block.py
  tests/unit_tests/test_transactions.py
Labels: Tests, High Priority, Unit-Tests

#685 transactions: Removed SendTransactiontoTheBlock function
  src/consensus/consensus_first_round.py
  src/node/node.py
  src/transactions/check/check_transaction.py
  src/transactions/send.py
  src/transactions/send_transaction_to_the_block.py
  src/transactions/transaction.py
Labels: Code-Quality-Improvements, Transactions, High Priority

#688 tests: Added some unit_tests for send function
  src/api.py
  src/cli.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/transactions/send.py
  tests/unit_tests/test_transactions.py
Labels: Tests, High Priority, Unit-Tests

#697 tests: Added unit tests for CalculateHash and redesigned hash calculation system
  src/accounts/account.py
  src/accounts/get_accounts_part.py
  src/accounts/save_accounts_part.py
  src/blockchain/block/block_main.py
  src/blockchain/block/calculate_hash.py
  src/blockchain/block/hash/accounts_hash.py
  src/blockchain/block/hash/blocks_hash.py
  src/blockchain/block/hash/calculate_hash.py
  src/blockchain/block/hash/tx_hash.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/config.py
  src/consensus/consensus_first_round.py
  src/lib/merkle_root.py
  src/transactions/process_the_transaction.py
  tests/unit_tests/test_blockchain.py
Labels: Tests, High Priority, Unit-Tests

#728 tests: Added unit tests for SaveBlock and GetBlock functions
  .gitignore
  src/api.py
  src/blockchain/block/block_main.py
  src/blockchain/block/blocks_hash.py
  src/blockchain/block/create_block.py
  src/blockchain/block/get_block.py
  src/blockchain/block/save_block.py
  src/cli.py
  src/consensus/consensus_first_round.py
  src/consensus/consensus_main.py
  src/consensus/consensus_second_round.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/node/node.py
  tests/unit_tests/test_blockchain.py
Labels: Tests, High Priority, Unit-Tests

#735 tests: Added unit tests for SaveBlockshash, SaveBlockshash_part, GetBlockshash, GetBlockshash_part functions
  .gitignore
  tests/unit_tests/test_blockchain.py
Labels: Tests, High Priority, Unit-Tests

#740 tests: Added unit test for candidate_block and GetCandidateBlocks functions
  src/blockchain/candidate_block/get_candidate_blocks.py
  tests/unit_tests/test_blockchain.py
Labels: Tests, High Priority, Unit-Tests

#750 tests: Added unit tests for CreateBlock function
  .gitignore
  src/api.py
  src/blockchain/block/create_block.py
  src/cli.py
  src/gui_lib/libs/baseclass/node_screen.py
  src/node/node.py
  tests/unit_tests/test_blockchain.py
Labels: Tests, High Priority, Unit-Tests

#756 tests: Added unit tests for app class and AppsTrigger function
  .gitignore
  setup.py
  src/app/README.md
  src/apps/README.md
  src/apps/app_main.py
  src/apps/apps_trigger.py
  src/apps/testing_app/testing_app_main.py
  src/consensus/consensus_main.py
  tests/unit_tests/test_api.py
  tests/unit_tests/test_apps.py
Labels: Tests, High Priority, Unit-Tests

#762 Changed pickle saving methods to json
  .gitignore
  src/accounts/get_accounts.py
  src/accounts/save_accounts.py
  src/apps/testing_app/testing_app_main.py
  src/blockchain/block/block_main.py
  src/blockchain/block/blocks_hash.py
  src/blockchain/block/get_block.py
  src/blockchain/block/get_block_from_blockchain_db.py
  src/blockchain/block/save_block.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/config.py
  src/lib/config_system.py
  src/lib/log.py
  src/lib/settings_system.py
  src/node/node.py
  src/node/unl.py
  src/transactions/my_transactions/get_my_transaction.py
  src/transactions/my_transactions/save_my_transaction.py
  src/transactions/my_transactions/save_to_my_transaction.py
  src/transactions/my_transactions/validate_transaction.py
  src/transactions/transaction.py
  src/wallet/get_saved_wallet.py
  tests/unit_tests/test_accounts.py
  tests/unit_tests/test_blockchain.py
  tests/unit_tests/test_transactions.py
Labels: enhancement, High Priority

#765 github: APP label changed to APPS
  .github/release.yml
Labels: GitHub, High Priority

#768 tests: Added unit test fpr dump and load json functions of Block class
  tests/unit_tests/test_blockchain.py
Labels: Tests, High Priority, Unit-Tests

#777 transaction: Developed a pending transaction controlling system for preventing writing in same time
  src/blockchain/block/block_main.py
  src/blockchain/block/change_transaction_fee.py
  src/config.py
  src/db/pending_transactions/README.md
  src/db/validating_transactions/README.md
  src/transactions/check/datas/check_datas.py
  src/transactions/get_transaction.py
  src/transactions/pending/delete_pending.py
  src/transactions/pending/get_pending.py
  src/transactions/pending/save_pending.py
  src/transactions/pending_to_validating.py
  tests/unit_tests/test_blockchain.py
  tests/unit_tests/test_transactions.py
Labels: Tests, High Priority, Unit-Tests

#775 Some Refactorings For Clean Code
  auto_builders/docker.py
  auto_builders/local.py
  src/api.py
  src/cli.py
  src/gui.py
  src/lib/config_system.py
  src/lib/export.py
  src/lib/merkle_root.py
  src/lib/mixlib.py
  src/lib/safety.py
  src/lib/settings_system.py
  src/lib/status.py
  src/node/node.py
  src/node/unl.py
  src/transactions/check/datas/check_datas.py
  src/transactions/check/len/check_len.py
  src/transactions/my_transactions/save_my_transaction.py
  src/transactions/print_transactions.py
  src/transactions/send.py
  src/wallet/delete_current_wallet.py
  src/wallet/ellipticcurve/math.py
  src/wallet/ellipticcurve/publicKey.py
  src/wallet/print_wallets.py
  src/wallet/wallet_create.py
  src/wallet/wallet_import.py
  src/wallet/wallet_selector.py
Labels: enhancement, Code-Quality-Improvements, Medium Priority

#782 node: Deleted disconnect_to_node function of Node class
  src/node/node.py
Labels: High Priority, Node

#789 tests: Added unit tests for parse_packet function of Connection class
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#799 tests: Added unit tests for if not Unl.node_is_unl(connected_node_id) situation of run and connect_to_node functions of Node class
  src/node/connection.py
  src/node/node.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#786 Some Refactorings For Clean Code Part 2
  src/accounts/account.py
  src/accounts/get_accounts.py
  src/accounts/get_balance.py
  src/accounts/get_sequance_number.py
  src/accounts/save_accounts.py
  src/apps/apps_trigger.py
  src/apps/testing_app/testing_app_main.py
  src/blockchain/block/block_main.py
  src/blockchain/block/blocks_hash.py
  src/blockchain/block/change_transaction_fee.py
  src/blockchain/block/create_block.py
  src/blockchain/block/get_block.py
  src/blockchain/block/hash/accounts_hash.py
  src/blockchain/block/hash/blocks_hash.py
  src/blockchain/block/hash/calculate_hash.py
  src/blockchain/block/hash/tx_hash.py
  src/blockchain/block/save_block_to_blockchain_db.py
  src/blockchain/candidate_block/candidate_block_main.py
  src/consensus/consensus_first_round.py
  src/consensus/consensus_main.py
  src/consensus/consensus_second_round.py
  src/gui_lib/libs/baseclass/node_screen.py
  src/gui_lib/libs/baseclass/operations_screen.py
  src/gui_lib/libs/baseclass/wallet_screen.py
Labels: Code-Quality-Improvements, High Priority

#812 tests: Merged all node unit tests that start and close Node and Connection in one test
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#816 node: Changed connected node saving mechanism for preventing writing in same time
  .github/restyled.yml
  .gitignore
  .pep8
  decentra_network/config.py
  decentra_network/db/connected_nodes/README.md
  decentra_network/node/node.py
  tests/unit_tests/test_node.py
Labels: High Priority, Node

#820 node: Added a forwadder for send function to send_client
  auto_builders/docker.py
  auto_builders/local.py
  decentra_network/node/client/client.py
  decentra_network/node/server/server.py
  decentra_network/node/unl.py
  tests/unit_tests/test_node.py
Labels: High Priority, Node

#821 builds: Synced with new folder and import structure
  .github/workflows/builds.yml
  API.spec
  CLI.spec
  GUI-win32.spec
Labels: High Priority, Builds

#824 tests: Added unit tests for send full accounts and get full accounts functions
  decentra_network/node/server/server.py
  tests/unit_tests/test_blockchain.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#827 test: Added unit tests for send_full_blockcshash get_full_blockshash functions of server
  decentra_network/node/server/server.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#832 test: Addint unit tests for testing different situations of send and get block, accounts, blockshash, blockshash_part functions of server
  .gitignore
  decentra_network/node/server/server.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#834 tests: Added unit tests for false messages types of server system
  decentra_network/node/server/server.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#845 tests: Added unit test for socket.timeout situation of server.connect function
  decentra_network/node/server/server.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#847 node: Removed not exist situation of get_connected_nodes function of server
  decentra_network/node/server/server.py
Labels: Low Priority, Node

#851 tests: Added test_connectionfrommixdb and test_connected_node_delete_and_save in test_node
  decentra_network/db/connected_nodes_test_0/README.md
  decentra_network/db/connected_nodes_test_1/README.md
  decentra_network/db/connected_nodes_test_2/README.md
  decentra_network/lib/clean_up.py
  decentra_network/node/server/server.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#853 tests: Added unit tests for send_block_to_other_nodes and send_me_full_block function
  decentra_network/node/server/server.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#856 tests: Added unit test for send and get candidate block hash
  decentra_network/node/server/server.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#857 tests: Added unit test for os path not exist situation of get_unl_nodes
  decentra_network/node/unl.py
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#859 wallet: Removed unused parts
  decentra_network/wallet/ellipticcurve/curve.py
  decentra_network/wallet/ellipticcurve/ecdsa.py
  decentra_network/wallet/ellipticcurve/math.py
  decentra_network/wallet/ellipticcurve/point.py
  decentra_network/wallet/ellipticcurve/privateKey.py
  decentra_network/wallet/ellipticcurve/publicKey.py
  decentra_network/wallet/ellipticcurve/signature.py
  decentra_network/wallet/ellipticcurve/utils/binary.py
  decentra_network/wallet/ellipticcurve/utils/compatibility.py
  decentra_network/wallet/ellipticcurve/utils/der.py
Labels: High Priority, Wallet

#861 tests: Added unit test for not in list wallet number situation of wallet_import
  tests/unit_tests/test_wallet.py
Labels: Tests, High Priority, Unit-Tests

#862 tests: Decreased time sleeps for node system testing
  tests/unit_tests/test_node.py
Labels: Tests, High Priority, Unit-Tests

#868 transactions: Changed PendingtoValidating function approach
  decentra_network/consensus/consensus_main.py
  decentra_network/db/pending_transactions_test_3/README.md
  decentra_network/db/pending_transactions_test_4/README.md
  decentra_network/db/pending_transactions_test_5/README.md
  decentra_network/lib/clean_up.py
  decentra_network/transactions/pending_to_validating.py
  tests/unit_tests/test_transactions.py
Labels: Transactions, High Priority

#872 auto_builders: Decreased sleep times
  auto_builders/docker.py
  auto_builders/local.py
Labels: High Priority, Auto-Builders

#873 auto_builders: Fix for installation success
  tests/functional_tests/docker/test_decentra_network_docker.py
  tests/functional_tests/local/test_decentra_network_local.py
  tests/stability_tests/docker/test_decentra_network_docker_10_3.py
  tests/stability_tests/docker/test_decentra_network_docker_3_1.py
  tests/stability_tests/docker/test_decentra_network_docker_4_1.py
  tests/stability_tests/docker/test_decentra_network_docker_5_1.py
  tests/stability_tests/docker/test_decentra_network_docker_5_2.py
  tests/stability_tests/docker/test_decentra_network_docker_6_1.py
  tests/stability_tests/docker/test_decentra_network_docker_6_2.py
  tests/stability_tests/docker/test_decentra_network_docker_7_1.py
  tests/stability_tests/docker/test_decentra_network_docker_7_2.py
  tests/stability_tests/local/test_decentra_network_local_10_3.py
  tests/stability_tests/local/test_decentra_network_local_3_1.py
  tests/stability_tests/local/test_decentra_network_local_4_1.py
  tests/stability_tests/local/test_decentra_network_local_5_1.py
  tests/stability_tests/local/test_decentra_network_local_5_2.py
  tests/stability_tests/local/test_decentra_network_local_6_1.py
  tests/stability_tests/local/test_decentra_network_local_6_2.py
  tests/stability_tests/local/test_decentra_network_local_7_1.py
  tests/stability_tests/local/test_decentra_network_local_7_2.py
Labels: High Priority, Auto-Builders

#878 github: Changed Documatation label to Docs
  .github/release.yml
Labels: Documentation, Low Priority

#880 builds: Added Android API build
  .github/workflows/builds.yml
  .gitignore
  API.spec
  CLI.spec
  GUI-win32.spec
  auto_builders/local.py
  buildozer.spec
  decentra_network/api/buildozer/main.py
  decentra_network/api/main.py
  decentra_network/cli/main.py
  decentra_network/gui/main.py
  docker/github/api/Dockerfile
  docker/github/cli/Dockerfile
  docker/local/api/Dockerfile
  docker/local/cli/Dockerfile
  docs/getting-started/using.md
  recipes/src/python-for-android/recipes/decentra_network/__init__.py
  recipes/src/python-for-android/recipes/flask/__init__.py
  recipes/src/python-for-android/recipes/waitress/__init__.py
  recipes/src/python-for-android/recipes/werkzeug/__init__.py
  tests/unit_tests/test_api.py
Labels: High Priority, Builds

#884 builds: Added Android GUI build (Compatility Changes !)
  .github/workflows/builds.yml
  GUI-win32.spec
  buildozer.spec
  decentra_network/gui_lib/libs/kv/node_screen.kv
  decentra_network/gui_lib/libs/kv/operations_screen.kv
  decentra_network/gui_lib/libs/kv/root_screen.kv
  decentra_network/gui_lib/libs/kv/tabnavigation.kv
  decentra_network/gui_lib/libs/kv/wallet_screen.kv
  recipes/src/python-for-android/recipes/kivymd/__init__.py
  recipes/src/python-for-android/recipes/kivymd_extensions.sweetalert/__init__.py
  requirements/gui.txt
  setups/gui/setup.py
Labels: High Priority, Builds

#887 builds: Added MacOS CLI and API builds
  .github/workflows/builds.yml
  GUI-win32.spec
Labels: High Priority, Builds

#893 docs: Removed "Core" name
  .github/workflows/gource.yml
  README.md
  docs/getting-started/using.md
  setups/api/setup.py
  setups/gui/setup.py
Labels: Docs, High Priority

#895 github: Added pull request template
  .github/pull_request_template.md
Labels: GitHub, High Priority

#898 docs: Added cloudback.it to README.md
  README.md
Labels: Docs, Medium Priority

#900 docs: Added deploys workflow badge to README.md
  README.md
Labels: Docs, High Priority

#903 github: Added automatic upload the artifacts system
  .github/workflows/builds.yml
  .github/workflows/gource.yml
Labels: GitHub, High Priority
