Repository Naruno/Naruno, pull requests merged in 2023-02, with the labels that each got.

#1438 consensus: Moved the hard block wait to end of calculation
  decentra_network/consensus/finished/finished_main.py
Labels: Consensus

#1441 packages: Fixed orientation setting for new version of buildozer
  buildozer.spec
Labels: Packages

#1442 consensus: Reduced complexity and increasing clarity of consensus_trigger and same level systems
  decentra_network/consensus/consensus_main.py
  decentra_network/consensus/finished/finished_main.py
  decentra_network/consensus/finished/true_time/true_time_main.py
  decentra_network/consensus/sync/sync.py
  tests/unit_tests/test_consensus.py
Labels: Consensus

#1443 gui: Added copy transaction signature from transaction history section
  decentra_network/gui_lib/libs/baseclass/operations_screen.py
Labels: GUI

#1454 gui: Added using global font_path from App
  decentra_network/gui/main.py
  decentra_network/gui_lib/libs/baseclass/node_screen.py
  decentra_network/gui_lib/libs/baseclass/operations_screen.py
  decentra_network/gui_lib/libs/baseclass/wallet_screen.py
Labels: GUI

#1455 gui: Added popup class
  decentra_network/gui/popup.py
  decentra_network/gui_lib/libs/baseclass/node_screen.py
  decentra_network/gui_lib/libs/baseclass/operations_screen.py
  decentra_network/gui_lib/libs/baseclass/wallet_screen.py
  decentra_network/gui_lib/libs/kv/node_screen.kv
  decentra_network/gui_lib/libs/kv/operations_screen.kv
  decentra_network/gui_lib/libs/kv/wallet_screen.kv
Labels: GUI

#1457 apps: Added apps.remote_app.Integration system
  .gitignore
  decentra_network/apps/apps_trigger.py
  decentra_network/apps/remote_app.py
  decentra_network/db/remote_app_cache/README.md
  docs/creating_a_app/embedded.md
  docs/creating_a_app/remote.md
  tests/unit_tests/test_apps.py
Labels: Docs, Apps

#1462 gui: Removed title bar and added close button to navbar with popup
  decentra_network/gui/main.py
  decentra_network/gui/popup.py
  decentra_network/gui_lib/libs/baseclass/root_screen.py
  decentra_network/gui_lib/libs/kv/root_screen.kv
Labels: GUI

#1463 gui: Added custom splash screen
  buildozer.spec
Labels: GUI
