Repository Naruno/Naruno, pull requests merged in 2023-01, with the labels that each got.

#1348 api: CORS settings have been set
  buildozer.spec
  decentra_network/api/main.py
  recipes/src/python-for-android/recipes/flask_cors/__init__.py
  requirements/api.txt
  setups/api/setup.py
Labels: API, Settings

#1351 docs: Added user interfaces to concepts
  docs/concepts/accounts.md
  docs/concepts/apps.md
  docs/concepts/architecture.md
  docs/concepts/blockchain.md
  docs/concepts/circulation.md
  docs/concepts/consensus.md
  docs/concepts/nodes.md
  docs/concepts/proofs.md
  docs/concepts/transactions.md
  docs/concepts/user_interfaces.md
Labels: Docs

#1354 docs: Added usage docs to getting started
  docs/getting-started/usages.md
Labels: Docs

#1355 docs: Added Videos index
  docs/faq.md
  docs/videos.md
Labels: Docs

#1360 node: Added socket.timeout suppress for send_client function
  decentra_network/node/server/server.py
Labels: Node

#1362 consensus: Added the self to round 1 find validated transactions voting
  decentra_network/consensus/rounds/round_1/process/transactions/find_validated/find_validated_main.py
Labels: Transactions, Consensus

#1368 blockchain: Removed empty block number from hash calculation
  decentra_network/blockchain/block/hash/calculate_hash.py
  tests/unit_tests/test_blockchain.py
Labels: Blockchain

#1370 consensus: Moved candidate block sending to the start of rounds
  decentra_network/consensus/rounds/round_1/round_1_main.py
  decentra_network/consensus/rounds/round_2/round_2_main.py
Labels: Consensus

#1379 blockchain: Changed transaction time with block.start_time for share transactions
  decentra_network/blockchain/block/shares.py
Labels: Transactions, Blockchain

#1383 blockchain: Added double saving for SaveBlock
  decentra_network/blockchain/block/save_block.py
Labels: Blockchain

#1385 Revert "consensus: Reverted cadidate block sending"
  decentra_network/consensus/consensus_main.py
  decentra_network/consensus/rounds/round_1/round_1_main.py
  decentra_network/consensus/rounds/round_2/round_2_main.py
Labels: Consensus

#1387 blockchain: Removed candidate block resetting
  decentra_network/blockchain/block/block_main.py
Labels: Blockchain

#1388 Revert "blockchain: Removed candidate block resetting"
  decentra_network/blockchain/block/block_main.py
Labels: Blockchain

#1389 consensus: Added self adding to canddiate block checks
  decentra_network/consensus/rounds/round_1/checks/candidate_blocks/candidate_blocks_main.py
  decentra_network/consensus/rounds/round_2/checks/candidate_blocks_hashes/candidate_blocks_hashes_main.py
  decentra_network/node/get_candidate_blocks.py
  decentra_network/node/server/server.py
Labels: Consensus

#1391 consensus: All systems assigned to majority
  decentra_network/consensus/rounds/round_1/checks/candidate_blocks/candidate_blocks_main.py
  decentra_network/consensus/rounds/round_2/checks/candidate_blocks_hashes/candidate_blocks_hashes_main.py
  docs/concepts/consensus.md
  tests/unit_tests/test_consensus.py
Labels: Consensus

#1399 node: Stored last 5 candidate blocks and getting by sequance number
  decentra_network/node/client/client.py
  decentra_network/node/get_candidate_blocks.py
  decentra_network/node/server/server.py
  tests/unit_tests/test_node.py
Labels: Node

#1400 docs: Removed gui macos from installations
  docs/getting-started/installations/downloads.md
Labels: Docs, GUI

#1402 blockchain: Added transaction fee based values to calculating hash
  decentra_network/blockchain/block/block_main.py
  decentra_network/blockchain/block/hash/calculate_hash.py
  decentra_network/consensus/consensus_main.py
Labels: Blockchain

#1411 gui: Changed the font with Poppins
  decentra_network/gui/main.py
  decentra_network/gui_lib/fonts/Eczar-Regular.ttf
  decentra_network/gui_lib/fonts/Eczar-SemiBold.ttf
  decentra_network/gui_lib/fonts/POPPINS_LICENCE
  decentra_network/gui_lib/fonts/Poppins-Black.ttf
  decentra_network/gui_lib/fonts/Poppins-BlackItalic.ttf
  decentra_network/gui_lib/fonts/Poppins-Bold.ttf
  decentra_network/gui_lib/fonts/Poppins-BoldItalic.ttf
  decentra_network/gui_lib/fonts/Poppins-ExtraBold.ttf
  decentra_network/gui_lib/fonts/Poppins-ExtraBoldItalic.ttf
  decentra_network/gui_lib/fonts/Poppins-ExtraLight.ttf
  decentra_network/gui_lib/fonts/Poppins-ExtraLightItalic.ttf
  decentra_network/gui_lib/fonts/Poppins-Italic.ttf
  decentra_network/gui_lib/fonts/Poppins-Light.ttf
  decentra_network/gui_lib/fonts/Poppins-LightItalic.ttf
  decentra_network/gui_lib/fonts/Poppins-Medium.ttf
  decentra_network/gui_lib/fonts/Poppins-MediumItalic.ttf
  decentra_network/gui_lib/fonts/Poppins-Regular.ttf
  decentra_network/gui_lib/fonts/Poppins-SemiBold.ttf
  decentra_network/gui_lib/fonts/Poppins-SemiBoldItalic.ttf
  decentra_network/gui_lib/fonts/Poppins-Thin.ttf
  decentra_network/gui_lib/fonts/Poppins-ThinItalic.ttf
  decentra_network/gui_lib/fonts/ROBOTOCONDENSED_LICENSE
  decentra_network/gui_lib/fonts/Roboto-Medium.ttf
  decentra_network/gui_lib/fonts/RobotoCondensed-Bold.ttf
  decentra_network/gui_lib/fonts/RobotoCondensed-Light.ttf
  decentra_network/gui_lib/fonts/RobotoCondensed-Regular.ttf
  decentra_network/gui_lib/libs/baseclass/node_screen.py
  decentra_network/gui_lib/libs/baseclass/operations_screen.py
  decentra_network/gui_lib/libs/baseclass/wallet_screen.py
Labels: GUI

#1412 gui: Added a switch for dark mode or light mode
  decentra_network/gui/main.py
  decentra_network/gui_lib/libs/baseclass/settings_screen.py
  decentra_network/gui_lib/libs/kv/node_screen.kv
  decentra_network/gui_lib/libs/kv/operations_screen.kv
  decentra_network/gui_lib/libs/kv/root_screen.kv
  decentra_network/gui_lib/libs/kv/settings_screen.kv
  decentra_network/gui_lib/libs/kv/wallet_screen.kv
  decentra_network/gui_lib/libs/kv/welcome_screen.kv
  decentra_network/lib/settings_system.py
  tests/unit_tests/test_lib.py
Labels: GUI

#1413 tests: Fixed test_finished_main_save_from_no_part test
  tests/unit_tests/test_consensus.py
Labels: Tests

#1414 tests: Fixed test_block_reset_start_time_none
  tests/unit_tests/test_blockchain.py
Labels: Tests

#1415 docs: Changed apps concept data name to data_1 and data_2
  docs/concepts/apps.md
Labels: Docs, Apps

#1416 docs: Seperating Apps concept to Decentra Networks
  docs/concepts/apps.md
Labels: Docs

#1422 wallet: Deleted some false texts and moved some files for preventing licence problems
  decentra_network/accounts/get_balance.py
  decentra_network/accounts/get_sequence_number.py
  decentra_network/api/main.py
  decentra_network/blockchain/block/create_block.py
  decentra_network/blockchain/block/save_block_to_blockchain_db.py
  decentra_network/cli/main.py
  decentra_network/consensus/finished/transactions/transactions_main.py
  decentra_network/gui_lib/libs/baseclass/operations_screen.py
  decentra_network/gui_lib/libs/baseclass/wallet_screen.py
  decentra_network/node/server/server.py
  decentra_network/transactions/my_transactions/save_to_my_transaction.py
  decentra_network/transactions/process_the_transaction.py
  decentra_network/transactions/send.py
  decentra_network/wallet/delete_current_wallet.py
  decentra_network/wallet/ellipticcurve/curve.py
  decentra_network/wallet/ellipticcurve/ecdsa.py
  decentra_network/wallet/ellipticcurve/get_saved_wallet.py
  decentra_network/wallet/ellipticcurve/math.py
  decentra_network/wallet/ellipticcurve/point.py
  decentra_network/wallet/ellipticcurve/privateKey.py
  decentra_network/wallet/ellipticcurve/publicKey.py
  decentra_network/wallet/ellipticcurve/save_wallet_list.py
  decentra_network/wallet/ellipticcurve/signature.py
  decentra_network/wallet/ellipticcurve/utils/binary.py
  decentra_network/wallet/ellipticcurve/utils/compatibility.py
  decentra_network/wallet/ellipticcurve/utils/der.py
  decentra_network/wallet/ellipticcurve/utils/file.py
  decentra_network/wallet/ellipticcurve/utils/integer.py
  decentra_network/wallet/ellipticcurve/utils/oid.py
  decentra_network/wallet/ellipticcurve/utils/pem.py
  decentra_network/wallet/ellipticcurve/wallet_create.py
  decentra_network/wallet/ellipticcurve/wallet_delete.py
  decentra_network/wallet/get_saved_wallet.py
  decentra_network/wallet/print_wallets.py
  decentra_network/wallet/save_wallet_list.py
  decentra_network/wallet/wallet_create.py
  decentra_network/wallet/wallet_delete.py
  decentra_network/wallet/wallet_import.py
  decentra_network/wallet/wallet_selector.py
  docs/creating_a_app/embedded.md
  tests/unit_tests/test_api.py
  tests/unit_tests/test_blockchain.py
  tests/unit_tests/test_consensus.py
  tests/unit_tests/test_transactions.py
  tests/unit_tests/test_wallet.py
Labels: Licence, Wallet

#1423 tests: Fix for test_blockchain_sync_empty_blocks_first_and_second_empty_is_not_equal
  tests/unit_tests/test_blockchain.py
Labels: Tests

#1420 wallet: Added sign and export as file function
  .gitignore
  decentra_network/config.py
  decentra_network/db/signs/README.md
  decentra_network/lib/sign.py
Labels: Wallet

#1424 wallet: Added check exported signed file function
  decentra_network/lib/verify.py
Labels: Wallet

#1426 cli: Added ability to sign and verify data in menu
  decentra_network/cli/main.py
Labels: CLI

#1429 gui: Added ability to sign and verify data
  decentra_network/gui_lib/libs/baseclass/operations_screen.py
  decentra_network/gui_lib/libs/kv/operations_screen.kv
Labels: GUI

#1431 auto_builders: Made networks with more connected circles
  auto_builders/docker.py
  auto_builders/local.py
Labels: Auto-Builders

#1432 transactions: Adding a cleaner for preventing leaks
  decentra_network/transactions/cleaner.py
  decentra_network/transactions/pending_to_validating.py
  tests/unit_tests/test_transactions.py
Labels: Transactions

#1433 node: Added a control point for dont sending system transactions to other node
  decentra_network/node/server/server.py
Labels: Transactions, Node
