Repository Naruno/Naruno, pull requests merged in 2023-03, with the labels that each got.

#1466 packages: Changed the author_email
  setup.py
  setups/api/setup.py
  setups/gui/setup.py
  setups/remote_app/setup.py
  setups/tests/setup.py
Labels: Packages

#1469 lib: Added publisher mode setting
  naruno/lib/settings_system.py
  tests/unit_tests/test_lib.py
Labels: Lib

#1472 docs: Fixed image links
  README.md
Labels: Docs

#1477 api: Added a api for gettng sequance number of specific user
  naruno/api/main.py
Labels: API

#1479 docs: Added wallet creating document in usages
  docs/getting-started/usages.md
Labels: Docs, Wallet

#1480 blockchain: Added baklava testnet users
  naruno/blockchain/block/save_block.py
  naruno/lib/settings_system.py
Labels: Blockchain

#1482 blockchain: Fixed accounts list hash calculation
  naruno/blockchain/block/hash/accounts_hash.py
Labels: Blockchain, Accounts

#1484 apps: Added multiple account support
  naruno/apps/remote_app.py
Labels: Apps

#1485 lib: Added backward support for settings
  naruno/lib/backup/naruno_import.py
  naruno/lib/settings_system.py
Labels: Settings, Lib

#1481 docs: Fixed buiding testnetwork manuel typo
  docs/building_a_test_network/manuel.md
Labels: Docs

#1483 docs: Fixed introducing typos
  README.md
  auto_builders/docker.py
  auto_builders/local.py
  docs/index.md
  naruno/api/main.py
  naruno/cli/main.py
  naruno/gui/main.py
  setup.py
Labels: Docs

#1487 docs: Added baklava testnet document
  docs/baklavatestnet/index.md
  docs/baklavatestnet/using.md
  docs/concepts/index.md
  docs/faq.md
  docs/referances/index.md
  docs/release-notes/index.md
  docs/videos.md
Labels: Docs

#1488 docs: Added baklava testnet video
  .github/workflows/docs_videos.yml
  docs/videos.md
  docs/videos/baklavatestnet.py
  docs/videos/main.py
Labels: Docs

#1490 accounts: Added support for getting balance from baklava testnet
  naruno/accounts/get_balance.py
  naruno/blockchain/block/get_minumum_transfer_amount.py
Labels: Accounts

#1497 apps: Fixed apps caching mechanism the cache key changed with transaction signature
  naruno/apps/remote_app.py
Labels: Apps

#1498 apps: Added backward suport for old caches
  naruno/apps/remote_app.py
  tests/unit_tests/test_apps.py
Labels: Apps

#1503 docs: Added a section for downloading naruno-remote-app library
  docs/baklava-testnet.md
Labels: Docs

#1502 packages: Upgraded requests library version
  setups/remote_app/setup.py
  setups/tests/setup.py
Labels: Packages

#1501 apps: Added some loggers for remote app integration class
  naruno/apps/remote_app.py
Labels: Apps

#1500 lib: Removed useless loggers from notification system
  naruno/lib/notification.py
Labels: Lib

#1506 docs: Changed upgrading with --upgrade function
  docs/baklava-testnet.md
  docs/creating_a_app/remote.md
Labels: Docs

#1509 apps: Added automatic api start
  docs/baklava-testnet.md
  naruno/api/main.py
  naruno/apps/remote_app.py
  tests/unit_tests/test_apps.py
Labels: Apps, API

#1510 api: Changed request loggers to debug logs
  naruno/api/main.py
Labels: API

#1512 apps: Deprecated Embedded Apps
  .gitignore
  docs/concepts/apps.md
  docs/creating_a_app/embedded.md
  docs/creating_a_app/index.md
  naruno/apps/app_main.py
  naruno/apps/apps_trigger.py
  naruno/apps/testing_app/testing_app_main.py
  naruno/consensus/finished/finished_main.py
  naruno/lib/clean_up.py
  tests/unit_tests/test_apps.py
Labels: Apps

#1511 docs: Added a section for running the Web3_App.py in baklava testnet document
  docs/baklava-testnet.md
Labels: Docs

#1513 apps: Added send forcer system for multiple sending in same times. (tx sequencer)
  naruno/apps/remote_app.py
Labels: Apps

#1514 apps: Added automatic splitting for big datas
  naruno/api/main.py
  naruno/apps/remote_app.py
  naruno/blockchain/block/max_data_size.py
  naruno/blockchain/block/max_tx_number.py
Labels: Apps

#1515 apps: Added contextlib suppress for preventing errors that caused from inspect module
  naruno/apps/remote_app.py
Labels: Apps

#1518 tests: Fixed unit tests
  tests/unit_tests/test_apps.py
  tests/unit_tests/test_consensus.py
Labels: Tests

#1519 apps: Fixed getting sended and sended_not_validated for baklava testnet
  naruno/apps/remote_app.py
  tests/unit_tests/test_apps.py
Labels: Apps

#1520 apps: Added amount sending feature in remote app integration
  docs/baklava-testnet.md
  docs/creating_a_app/remote.md
  naruno/apps/remote_app.py
Labels: Apps

#1521 docs: Added installation information to wallet creating document
  docs/getting-started/usages.md
Labels: Docs, Wallet

#1523 transactions: Fixed self-posting transactions
  naruno/transactions/process_the_transaction.py
Labels: Transactions

#1527 node: Added bypass exception fr deleting buffer of data for enough data size situations
  naruno/node/client/client.py
Labels: Node

#1530 apps: Optimized max_data_size and max_tx_number gathering system
  naruno/apps/remote_app.py
Labels: Apps

#1533 apps: Bad split bug fixed
  naruno/apps/remote_app.py
Labels: Apps

#1534 apps: Fixed custom wait time setting
  naruno/apps/remote_app.py
Labels: Apps

#1535 apps: Added checker system for preventing not validated transactions
  naruno/apps/remote_app.py
Labels: Apps, Transactions

#1537 apps: Fixed a bug about false calls caused by broken splits
  naruno/apps/remote_app.py
Labels: Apps

#1543 apps: Cache operations are disabled for checker for preventing leaks in multiple threads
  naruno/apps/remote_app.py
Labels: Apps

#1542 blockchain: Increased transaction delay to a suitable value for preventing missed transactions
  naruno/blockchain/block/block_main.py
Labels: Transactions, Blockchain

#1545 apps: Fixed multithreading bug for host and port
  naruno/apps/remote_app.py
Labels: Apps

#1546 apps: Fixed get_all parameter and cache relationship for checker multithreading bug
  naruno/apps/remote_app.py
Labels: Apps

#1547 transactions: My transaction db is moved from json for multithreading and errorless system
  .gitignore
  naruno/config.py
  naruno/db/my_transactions/README.md
  naruno/transactions/my_transactions/get_my_transaction.py
  naruno/transactions/my_transactions/save_my_transaction.py
  naruno/transactions/my_transactions/save_to_my_transaction.py
  tests/unit_tests/test_api.py
  tests/unit_tests/test_apps.py
  tests/unit_tests/test_consensus.py
  tests/unit_tests/test_transactions.py
Labels: Transactions

#1548 node: Added empty block number for making a timeout
  naruno/node/get_candidate_blocks.py
  naruno/node/server/server.py
Labels: Node

#1550 Revert "node: Added empty block number for making a timeout"
  naruno/node/get_candidate_blocks.py
  naruno/node/server/server.py
Labels: Node

#1553 node: Made seperated sending for candidate block txs
  naruno/node/server/server.py
Labels: Node

#1554 node: Connected buffer size to max_data_size and max_tx_number
  naruno/node/server/server.py
Labels: Node
